<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Sparks Enterprises</title>
  </head>
  <body>
    {{!-- navbar.... --}}
    {{>navbar data=details}}
    {{!-- slider --}}
    {{>slider sliders=sliders}}

    {{!-- Banner 1 section --}}

    <section class="banner1_section backgrount1 py-5">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <h1>Start my new tech</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repudiandae omnis quod molestiae eius ut sequi fugit doloremque ipsam sapiente excepturi sunt necessitatibus perferendis</p>
            <button class="btn btn-outline-info">Click Here</button>
          </div>
        </div>
      </div>
    </section>

    {{!-- Servises section --}}
    <section id="service_section" class="py-3">
      <div class="container">
        <h3 class="text-center text-secondary">Our Services</h3>

        <div class="row mt-5">
          {{!-- first Services --}}
          {{#each services}}
          <div class="col-md-4 pb-2">
            <div class="card">
              <div class="card-body">
                <div class="container text-center py-1">
                  <i class="{{this.icon}} service_icon text-secondary"></i>
                </div>
                <h3 class="card-title text-center">{{this.title}}</h3>
                <p>{{this.description}}</p>
                <a href="{{this.linkOne}}">{{this.textOne}}</a>
                <a href="{{this.linkTwo}}" class="ml-3">{{this.textTwo}}</a>
              </div>
            </div>
          </div>
          {{/each}}
          
        </div>
      </div>
    </section> 

      {{!-- banner2 section --}}
      <section class="banner2_section py-5">
        <div class="container">
          <div class="row">
            {{!-- Left side --}}
            <div class="col-md-6 text-center pt-3">
              <h3>
                Eating is a neccesity but Cooking is an Art
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque mollitia nostrum, eos minima dignissimos expedita veniam nulla asperiores saepe voluptas at eius quia ducimus maiores non ipsam architecto officiis sapiente.
              </p>
              <button class="btn btn-primary">Click Here</button>
            </div>
            {{!-- Right Side --}}
            <div class="col-md-6 text-center py-2">
              <img src="/static/images/b1.jpg" class="img-fluid" style="max-height:250px;" alt="" />
            </div>
          </div>
        </div>
      </section>

      {{!-- Banner3 Section --}}
      <section class="banner3_section py-5">
        <div class="container">
          <div class="row">
            {{!-- Lefft Side --}}
            <div class="col-md-6 text-center py-2">
              <img src="/static/images/b2.jpg" class="img-fluid" style="max-height:250px;" alt="" />
            </div>
            {{!-- Right side --}}
            <div class="col-md-6 text-center pt-3">
              <h3>
                We Serve you better than Others
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque mollitia nostrum, eos minima dignissimos expedita veniam nulla asperiores saepe voluptas at eius quia ducimus maiores non ipsam architecto officiis sapiente.
              </p>
              <button class="btn btn-primary">Click Here</button>
            </div>
          </div>
        </div>
      </section>

    {{!-- Contact Us Section --}}

    <section id="contact_us_section" class="py-5 backgrount1">
      <div class="container">
        <h3 class="text-center text-secondary">Contact Us</h3>
        <dive class="row">
          <div class="col-md-12">
{{!-- contact form --}}
            <form action="/process-contact-form" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Your Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="contactNumber" class="form-label">Your Contact Number</label>
                <input name="contact" type="number" class="form-control" id="contactNumber">
              </div>
              <div class="form-floating mt-2">
                <textarea name="query" style="height:150px;" class="form-control" placeholder="Enter your query here" id="queryField"></textarea>
                <label for="queryField">Your Query</label>
              </div>
              <div class="container text-center">
                <button type="submit" class="btn btn-outline-info btn-dark mt-3">Submit</button>
              </div>
            </form>
          </div>
        </dive>
      </div>
    </section>

    {{!-- About Section  --}}
    <section id="about_section" class="about_section py-5">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <h3>About</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, voluptatem soluta sed debitis quasi sint aliquid nesciunt quod eius omnis delectus vero quibusdam, optio enim ea autem quos tempora dicta.
            </p>
            <button class="btn btn-success">Click Here</button>
          </div>
        </div>
      </div>
    </section>

    {{!-- Footer Section --}}
    {{>footer}}
</body>
</html>